<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kodazi Prototype</title>
	<link rel="stylesheet" type="text/css" href="css/template.css"  />
</head>

<body>

<div id="left_panel">
	<img src="images/left_panel.gif" />
</div>
<div id="middle_panel">
	<h1>Ady's and Calvin's Kodazi Workspace</h1>
    <br/>
    <img src="images/middle_panel.gif" />
</div>
<div id="right_panel">
	<img src="images/right_panel.gif" />
</div>
<div id="bottom_panel" style="text-align: center; color: #FFF;">
	Search
</div>

</body>
</html>
